# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
*.gch

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf




#IAR project files
EWARM/*/Exe
EWARM/*/Obj
EWARM/*/List
EWARM/*.eww


#Build files
Pipeline/CMakefiles
Pipeline/cmake_install.cmake

#MORE BUILD GARBAGE
*/.tcl
*/*.tcl
*/*/*.tcl
*/*/*/*.tcl
/*/*/*/*.tcl
/*/*/*/*/*.tcl
